.barcodeman-toolbar .barcodeman-toolbar-issues {
  background-color: #d54e21;
  display: inline-block;
  padding: 0 5px !important;
  border-radius: 10px !important;
  line-height: 16px !important;
  font-size: 11px !important;
  color: #fff !important;
}
.barcodeman-toolbar:hover .barcodeman-toolbar-issues,
.barcodeman-toolbar:active .barcodeman-toolbar-issues,
.barcodeman-toolbar.hover .barcodeman-toolbar-issues {
  color: #fff !important;
}

#adminmenu .toplevel_page_barcodeman-dashboard img {
  width: 28px;
}
